<!doctype html>
<html>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Login </h4>
      <button type="button" class="close" aria-label="Close"  (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="modal-content animate" [formGroup]="myGroup">
        
        <input type="text" class="input-group-text" placeholder="Enter Username" formControlName="UserName" required>
        <br>
        
        <input type="password" class="input-group-text"  placeholder="Enter Password" formControlName="PassWord" required>
    
       
        <br>
        <button type="button" class="btn btn-success"(click)="loginPressed()"  >Login 
        </button>
        <br>
        <div *ngIf="invalidPwd"><ngb-alert style="height: 3.5em;">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
          <strong>Error! &nbsp; </strong>Invalid user name or password</ngb-alert></div>
      </form>
    </div>
  </ng-template>

  <ng-template [ngIf]="loggedIn=='false'"><div>
    <button class="btn btn-outline-primary btn-sm" style="height:5em" (click)="open(content)">
      <i style="font-size:40px" class="material-icons">account_box</i>
      <br>
      login
    </button> 
  </div></ng-template>

  <ng-template [ngIf]="loggedIn=='true'"><div>
    <button class="btn btn-outline-primary btn-sm" (click)="logoutPressed()">
      <i style="font-size:40px" class="material-icons">account_box</i>
      <br>
      logout
    </button> 
  </div>
</ng-template>


  

 


</html>